@use "sass:math";

@import "src/assets/style/Style";

.categories {

  &__container {

  }
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 900;
    @include adaptiveValue("font-size", 40, 20);
    line-height: math.div(30, 20);
    letter-spacing: 0.037rem;

    &:last-child {
    @include adaptiveValue("margin-bottom", 40, 20);
    @include adaptiveValue("margin-top", 40, 20);
  }
  }

  &__list {
    display: flex;
  }

  &__item {
    background-color: #f9f9f9;
    @include adaptiveValue("padding-top", 13, 10);
    @include adaptiveValue("padding-bottom", 13, 10);
    @include adaptiveValue("padding-right", 30, 20);
    @include adaptiveValue("padding-left", 30, 15);
    border-radius: rem(30);
    @include adaptiveValue("margin-right", 10, 5);
    font-weight: bold;
    cursor: pointer;
  }

}

.active {
  background-color: #282828;
  color: #fff
}

